.icons{
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

li{
  list-style: none;
  margin: 25px 50px 75px 30px
}

li.main-list{
  padding: 25px;
  font-size: larger;
  border-bottom: solid 3px white;
}

.tab {
  display: inline-block;
  margin-left: 75px;
}
